<!doctype html>
<html lang="en" ng-app="ifc">

<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
  <link href="assets/css/style.css" rel="stylesheet" />

  <title>Fixed Calendar</title>
</head>

<body class="bg-dark" ng-controller="MainCtrl" >
  <div class="container">
    <div ng-repeat="year in years">
      <h1 class="text-light text-center">{{year}}</h1>
      <div ng-repeat="month in months">
        <h1 class="text-light text-center">{{months[$index]}}</h1>
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">Sun</th>
            <th scope="col">Mon</th>
            <th scope="col">Tue</th>
            <th scope="col">Wed</th>
            <th scope="col">Thu</th>
            <th scope="col">Fri</th>
            <th scope="col">Sat</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="week in [].constructor(4) track by $index">
            <td ng-repeat="day in [].constructor(7) track by $index" id="{{$parent.$parent.$index*28 + $parent.$index*7 + $index + 1}}" ng-class="{'bg-primary':$parent.$parent.$index*28 + $parent.$index*7 + $index + 1 == absDate}">{{ ($parent.$index * 7) + $index + 1 }}</td>
          </tr>
        </tbody>
      </table>
      </div>
      
      <h1 class="text-light text-center">New Year Day(s)</h1>
      <table class="table table-dark text-center">
        <thead>
          <tr>
            <th scope="col">NYD</th>
            <th ng-if="leap(year)">NYD2</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="365" ng-class="{'bg-primary':absDate == 365}">1</td>
            <td id="366" ng-if="leap(year)" ng-class="{'bg-primary':absDate == 366}">2</td>
          </tr>
        </tbody>
      </table>  
    </div>
  </div>
  <!-- Scripts -->
  <script src="assets/libs/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo">
  </script>
  <script src="assets/libs/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1">
  </script>
  <script src="assets/libs/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM">
  </script>
  <script src="assets/libs/angular.js"></script>
  <script src="assets/libs/angular-route.js"></script>
  <script src="assets/libs/angular-animate.js"></script>
  <script src="assets/libs/angular-sanitize.js"></script>
  <script src="app.js"></script>
</body>

</html>